.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
.header{
    background-image: url('../images/developer.png') , url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: left top, right bottom;
}
.dark-2{
    color: #474747;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}
.nav-title{
    font-weight: 800px;
    font-size: 45px;
}
nav li{
    list-style: none;
    margin-right: 51px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li a{
    text-decoration: none; 
    font-size: 20px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 230px;
    align-items: center;
}
.text-primary{
    color: #FD6E0A;
}
.banner-head{
    width: 498px;
    height: 100px;
    font-weight: bold;
    font-size: 85px;
    margin-bottom: 70px;
}
.banner-content{
    max-width: 580px;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
    margin-bottom: 50px;
}
.banner-profile{
    width: 550px;
    height: 676px;
}
.btn-pri{
    margin-top: 30px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.sec-bg{
    background-color: #FFF8F3;
}
.section-head{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}
.section-text{
    font-size: 18px;
    color: #757575;
}
.about{
    padding: 131px 157px;
    border-radius: 10px;
    text-align: center;
}
.about-item{
    display: flex;
    justify-content: space-around;
}
.item-body{
    font-weight: 600;
}
.item-title{
    margin-top: 20px;
}
.thard-bg{
    background-color: white;
    border: 1px solid #757575;
    border-radius: 10px;
}
.new-head{
    text-align: center;
}
.new-pragraph{
    text-align: center;
}
.skills{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
.my-skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgb(218, 218, 218);
}
.resume{
    display: flex;
    gap: 24px;
}
.resume-head{
    font-weight: bold;
    margin-top: 80px;
    font-size: 30px;
    color: rgba(71, 71, 71, 1);
}
.resume-row-head{
    font-weight: bold;
    font-size: 25px;
    color: rgba(71, 71, 71, 1);
    margin-bottom: 05px;
}
.resume-row-sub-head{
    color: rgba(117, 117, 117, 1);
    font-weight: 600;
    font-size: 20px;
    margin-top: 5px;
}
.resume-text{
    color: rgba(117, 117, 117, 1);
    font-size: 16px;
}
.resume-colam-row{
    margin-bottom: 30px;
}
.almost-last-button{
    text-align: center;
    margin-top: 30px;
}
footer{
    display: flex;
    padding: 130px 230px;
    gap: 117px;
}
.the-end input{
    border-radius: 5px;
    width: 100%;
    height: 64px;
    border: none;
    margin-bottom: 24px;
}
.icon-gap a{
    margin-right: 20px;
}
.last-problem{
    margin-top: 24px;
}
footer input[type=text], footer input[type=email], footer textarea{
    font-weight: 100%;
    font-size: 13px;
    padding: 10px 20px;
}
footer textarea{
    border: none;
    border-radius: 5px;
    width: 100%;
}